.header-wrapper {
  position: relative;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.header-img {
  width: 100%;
}

.zxd-navbar {
  position: absolute;
  z-index:1;
  top: 0;
  width: 100%;
  padding: 0 15px;
  a {
    display: inline-block;
    padding: 15px 15px;
    line-height: 20px;
    color: $cat-lighter;
    font-size: $font-size-h3;
    text-decoration: none;
    &:hover {
      color: $cat-darker;
    }
    @media (max-width: 767px) {
      font-size: $font-size-lg;
    }
  }
  > .navbar-header {
    @extend %clearfix;
    @media (min-width: 768px) {
      float: left;
    }
    > .navbar-brand {
      font-weight: bold;

    }

    > .navbar-toggle {
        // for the iphone6
      color:$cat-lighter ;
      float: right;
      @media (min-width: 768px) {
        display: none;
      }
    }
  }
  .icon-bar {
    display: block;
    width: 25px;
    height: 2px;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 4px;
  }

  > .navbar-collapse {
    font-weight: 500;
    float: right;
    @media(max-width: 767px) {
      position: absolute;
      top: 35px;
      right: 55px;
      box-shadow: 0 0 15px $cat-lighter;
      border-radius: 10px;
      a {
        display: block;
        padding: 10px 15px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        background: $cat-lighter;
        color: $cat-darker;
        &:hover {
          color: $cat-lighter;
          background: $cat-darker;
        }
      }
    }
  }

}



