.sidebarstyle{
  background: $sidebar-bg;
  color: $sidebar-color;
  a{
    color:$sidebar-link-color;
    border-color: $sidebar-link-color;
    &:hover{
      color: $sidebar-link-hover-color;
      border-color: $sidebar-link-hover-color;
    }
  }
}


#rocket{
  color:$cat-darker;
  position:fixed;
  right:5px;
  transform:rotate(-45deg);
  z-index:1;
}
#sidebarToggle{
  position:fixed;
  right:5px;
  top:50%;
  margin-top:-0.5em;
  z-index:100;
  font-weight:bold;
  text-shadow:5px 5px 5px $cat-darker;
  background:none;
  color:$cat-darker;
}

.zxd-sidebar {
  z-index:1;
  position:fixed;
  width:100%;
  left:0;
  top:0;
  bottom:0;
  padding: 20px 10px;
  text-align: center;
  overflow:auto;
  word-wrap:break-word;
  word-break: break-all;
  .intro {
    font-size:$font-size-lg;
    .author{
      font-weight:700;
      font-family:Arial;
    }
    img {
      max-width: 200px;
    }
    span {
      margin-bottom: 1em;
      display: block;
      font-family:$font-family-en;
    }
  }

  .contact {
    display: inline-block;
    text-align:left;
    margin-bottom:20px;

    a {
      display: block;
      margin-bottom:3px;
      border-bottom-style:solid;
      border-bottom-width: 1px;
    }
  }
  .recent {
    a {
      display:inline-block;
      padding:0 15px;
      margin:0 1rem 1rem 1rem;
      vertical-align: middle;
      line-height:30px;
      border-width:1.5px;
      border-style:solid;
      border-radius: $border-radius-base;
      font-family:$font-family-en;
    }
  }
}
