.tagcloud {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
  text-align: center;
  .article-title {
    margin:20px auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .article {
    width: 200px;
    height: 150px;
  }
  .article-body{
    border-top:1px solid $cat-light;
  }
  h1,h4{
    line-height:50px;
  }

  span{
    width:50%;
    position:absolute;
    bottom:10px;
    left:25%;
    font-weight:bold;
  }
}