//wrapper
.main {
  position: relative;
  min-height: 500px;
  @extend %clearfix;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @extend %clearfix;
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
}

.row {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
  @extend %clearfix;
}

@include make-col();
.col-xs-hidden {
  display: none
}

@include colHidden(0, 767px) {
  .hidden-xs {
    display: none
  }
}

@include colHidden(768px, 991px) {
  .hidden-sm {
    display: none
  }
}

@include colHidden(992px, 1199px) {
  .hidden-md {
    display: none
  }
}

@include colHidden(1200px, 2000px) {
  .hidden-lg {
    display: none
  }
}

//animation
.animation {
  transition-property: left,top,color,opacity,background ;
  transition-duration: .5s;
}

.animation-rocket {
  transition: bottom 1s ease-out;
}

.close {
  position: absolute;
  right: 1em;
  top: 1em;
}

.fade {
  opacity: 0.5;
}

.hide {
  display: none;
}

.collapse-xs {
  @media (max-width: 767px) {
    display:none;
  }
}

.rotate {
  transform: rotate(180deg);
}

.translateX {
  //transform: translateX(100%);
  left:100% !important;//lt IE 10
}


.noscroll {
  overflow: hidden;
}

.rocketBottom {
  bottom: 5px;
}

.rocketTop {
  bottom: 100%;
}

@keyframes music {
  from{
    transform:rotate(0);
  }
  to{
    transform:rotate(360deg);
  }
}
.music{
  text-align:center !important;
  .music-item{
    border-radius:150px;
    animation:music 10s linear 2s infinite;
  }
}

//color
.color-white {
  color: $cat-lighter !important;
}

.zxd-navbar-pop{
  position:fixed !important;
  pointer-events: none;
  background:rgba(63, 55, 60,.7) !important;
  .navbar-collapse,.navbar-brand,.navbar-toggle{
    pointer-events:auto;
  }
  .navbar-collapse a {
    @media (max-width: 767px) {
      background: rgba(63, 55, 60, .7) !important;
      color: $cat-lighter !important;
      &:hover {
        background: $cat-lighter !important;
        color: $cat-darker !important;
      }
    }
  }
}
