<div class="footer sidebarstyle">
  <footer class="col-xs-12 col-sm-10 col-sm-offset-1">
    <span>&copy;
      <%- site.posts.data[0].date.year() %>
  </span>
    <span><i class="fa fa-flag"></i> <%- config.author %></span>
    <% if(theme.copyright){ %>
    <br>
    <span>Theme By <a href="https://github.com/zhuxudong/hexo-ZXD">ZXD</a>
    | <a class="" href="https://github.com/zhuxudong/hexo-ZXD">
        <i class="fa fa-github"></i>
        Star
      </a>
    </span>
    <% } %>
  </footer>
</div>
</body>