<header class="header-wrapper ">
  <img class="header-img " src="/img/index.jpg"></img>
  <nav class="zxd-navbar animation">
    <div class="navbar-header">
        <a  class="navbar-brand " href="<%- config.root%>">
          <%- config.title %>
        </a>
      <a class="navbar-toggle" id="navbarToggle" href="#navbarCollapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div class=" navbar-collapse collapse-xs noscroll " id="navbarCollapse">
          <% for(var menuName in theme.menu){ %>
          <a   href="<%- url_for(theme.menu[menuName]) %>"><%= __('menu.'+menuName) %> </a>
          <% } %>
    </div>
  </nav>
</header>